asttokens 
beautifulsoup4 
Bottleneck 
Brotli 
certifi 
cffi 
charset-normalizer 
colorama 
comm 
cryptography 
cssselect==1.1.0
debugpy 
decorator 
et-xmlfile 
exceptiongroup 
executing 
fake-useragent 
idna 
importlib-metadata 
ipykernel 
ipython 
jedi 
jupyter_client 
jupyter_core 
lxml 
matplotlib-inline 
mkl-fft 
mkl-random 
mkl-service==2.4.0
nest-asyncio 
numexpr 
numpy 
openpyxl 
packaging 
pandas 
parse 
parso 
pickleshare 
platformdirs 
prompt-toolkit 
psutil 
pure-eval 
pycparser 
pydantic 
pyee 
Pygments 
pyOpenSSL 
pyppeteer 
pyquery==1.4.3
PySocks 
python-dateutil 
pytz 
pywin32==305.1
pyzmq 
requests 
requests-html 
setuptools==68.2.2
six 
soupsieve 
stack-data 
toml 
tornado 
tqdm 
traitlets 
typing_extensions 
tzdata 
urllib3 
w3lib 
wcwidth 
websockets 
wheel==0.41.2
win-inet-pton 
zipp 
